

footer.footer-brown {
    background: #232323;
}
footer.footer-brown .footer-details img {
    margin: -30px -6px -40px;
}
footer.footer-brown .footer-details p {
    font-size: 15px;
    margin-top: 45px;
}
footer.footer-brown .sub-footer {
    background-color: #1e1e1e;
}
footer.footer-brown .sub-footer .copy-right p svg {
    width: 16px;
    height: 16px;
    fill: var(--theme-default8);
    stroke: var(--theme-default8);
}
footer.footer-brown .sub-footer .footer-social ul li a {
    color: #d2d2d2;
}
footer.footer-brown .sub-footer .footer-social ul li a:hover {
    color: #fff;
}
footer.footer-brown .sub-footer .footer-social ul li + li {
    margin-left: 35px;
}
footer.footer-brown .sub-footer .footer-social ul li i {
    font-size: 16px;
}
footer.footer-brown .sub-footer p {
    color: #d2d2d2;
}
footer.footer-dark {
    background: #1b2c39;
}
footer.footer-dark .footer-details p {
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.5);
}
footer.footer-dark .footer-links .footer-content p {
    color: rgba(255, 255, 255, 0.7);
}
footer.footer-dark .footer-contact {
    margin-bottom: -2px;
}
footer.footer-dark .sub-footer .footer-social ul li a:hover {
    color: rgba(255, 255, 255, 0.8);
}
footer.footer-res .footer-links .footer-content {
    margin-top: 36px;
}
footer.footer-res .footer-links .footer-content p {
    margin-top: 10px;
}
footer.footer-res .footer-links .footer-content li a svg {
    float: left;
    stroke-width: 2px;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-left: -5px;
    margin-right: 5px;
}
footer .footer-details p {
    font-weight: 500;
    margin: 18px 0;
}
footer .footer-details .footer-contact ul li {
    display: block;
    color: #fff;
    font-weight: 600;
}
footer .footer-details .footer-contact ul li + li {
    margin-top: 20px;
}
footer .footer-details .footer-contact ul li i {
    margin-right: 15px;
}
footer .footer {
    padding: 90px 0;
}
footer .sub-footer {
    padding: 12px 0;
}
footer .sub-footer p {
    font-size: 14px;
    font-weight: 500;
}
footer .sub-footer p i {
    color: #e1002c;
}
footer .sub-footer .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
footer .sub-footer .sub-footer-link li a {
    color: #d2d2d2;
    font-weight: 500;
}
footer .sub-footer .sub-footer-link li a:hover {
    color: #fff;
}
footer .sub-footer .sub-footer-link li + li {
    margin-left: 20px;
}
footer .sub-footer.footer-light {
    background-color: #202020;
}
footer .sub-footer.footer-light p {
    color: #d2d2d2;
}
footer .sub-footer.sub-footer-dark {
    background-color: #182732;
}
footer .sub-footer.sub-footer-dark p {
    color: #d2d2d2;
}
footer .sub-footer.sub-footer-dark .sub-footer-link li a {
    color: #d2d2d2;
}
footer .sub-footer.sub-footer-dark .sub-footer-link li a:hover {
    color: #fff;
}
footer p {
    font-size: 13px;
    line-height: 2.2;
}
footer .footer-links h5 {
    position: relative;
    line-height: 1.6;
    color: #fff;
    font-weight: 600;
    font-size: calc(16px + 2 * (100vw - 320px) / 1600);
}
footer .footer-links .footer-content {
    margin-top: 45px;
}
footer .footer-links .footer-content .for-dark {
    display: none;
}
footer .footer-links .footer-content li {
    display: block;
}
footer .footer-links .footer-content li a {
    color: rgba(255, 255, 255, 0.9);
}
footer .footer-links .footer-content li a:hover {
    color: #fff;
}
footer .footer-links .footer-content li + li {
    margin-top: 10px;
}
footer .footer-links .footer-content p {
    font-size: 14px;
    color: #d2d2d2;
    line-height: 1.6;
}
footer .footer-links .footer-content p a {
    color: #d2d2d2;
}
footer .footer-links .footer-content .footer-map {
    padding-top: 5px;
}
footer .footer-links .footer-content .footer-map iframe {
    width: 330px;
    height: 200px;
}
footer .footer-links .footer-content .footer-blog {
    padding-top: 5px;
}
footer .footer-links .footer-content .footer-blog .media .img-overlay {
    position: relative;
}
footer .footer-links .footer-content .footer-blog .media .img-overlay::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    -webkit-box-shadow: inset 0px -29px 18px 0px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px -29px 18px 0px rgba(0, 0, 0, 0.6);
}
footer .footer-links .footer-content .footer-blog .media .media-body {
    margin-left: 20px;
}
footer .footer-links .footer-content .footer-blog .media .media-body h6 {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
}
footer .footer-links .footer-content .footer-blog .media .media-body h6 a {
    color: rgba(255, 255, 255, 0.8);
}
footer .footer-links .footer-content .footer-blog .media + .media {
    margin-top: 20px;
}
footer .footer-links.footer-details .footer-content {
    margin-top: 0;
}
footer .footer-links .footer-title span {
    display: none;
}
footer.footer-light .footer {
    margin-bottom: -1px;
}
footer.footer-light .footer-links .footer-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
footer.footer-light .footer-links .footer-title .according-menu {
    position: relative;
    right: unset;
    top: unset;
}
footer.footer-light .footer-links .footer-title span {
    margin-left: 20px;
}
footer.footer-light .footer-links .footer-title span i {
    font-size: 14px;
}
footer.footer-light .footer-links h5 {
    color: #586167;
    font-weight: 600;
}
footer.footer-light .footer-links .footer-content {
    margin-top: 36px;
}
footer.footer-light .footer-links .footer-content li a {
    color: #586167;
    display: block;
}
footer.footer-light .footer-links .footer-content li a svg {
    float: left;
    stroke-width: 2px;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-left: -5px;
    margin-right: 5px;
}
footer.footer-light .footer-links .footer-content li a:hover {
    color: var(--theme-default6);
}
footer.footer-light .footer-details {
    margin-bottom: -2px;
}
footer.footer-light .footer-details p {
    color: #586167;
    margin-top: 12px;
}
footer.footer-light .footer-details .footer-contact ul li {
    color: #586167;
}
.footer-left-space {
    padding-left: 40px;
}
.footer-bg {
    background-image: url(../images/footer-bg.jpg);
}
.footer-bg p {
    color: #d2d2d2;
}
.footer-bg .footer-details {
    background-color: #202020;
    padding: 30px;
}
.footer-bg .footer-details p {
    margin-top: 6px;
    margin-bottom: 30px;
}
.footer-bg .footer-details img {
    margin-top: -8px;
}
.footer-bg .footer-details h6 {
    color: rgba(255, 255, 255, 0.85);
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
}
.footer-bg .footer-details .icon-list li a {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #151515;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.footer-bg .footer-details .icon-list li a:hover {
    border: 1px solid #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.footer-bg .footer-details .icon-list li + li {
    margin-left: 4px;
}
.footer-bg .footer-links {
    padding-bottom: 30px;
}
.footer-bg .footer-links h5 {
    text-transform: uppercase;
    font-weight: 600;
}
.footer-bg .footer-links .footer-content {
    margin-top: 30px;
}
.footer-bg .footer-links .footer-content li a {
    color: #d2d2d2;
}
.footer-bg .footer-links .footer-content li + li {
    margin-top: 16px;
}
.footer-bg .footer-links .footer-content .input-group {
    margin-top: 45px;
}
.footer-bg .footer-links .footer-content .input-group input {
    background-color: #202020;
    border: none;
    border-radius: 23px 0 0 23px;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
}
.footer-bg
.footer-links
.footer-content
.input-group
input::-webkit-input-placeholder {
    color: #878787;
    font-weight: 500;
}
.footer-bg .footer-links .footer-content .input-group input::-moz-placeholder {
    color: #878787;
    font-weight: 500;
}
.footer-bg
.footer-links
.footer-content
.input-group
input:-ms-input-placeholder {
    color: #878787;
    font-weight: 500;
}
.footer-bg
.footer-links
.footer-content
.input-group
input::-ms-input-placeholder {
    color: #878787;
    font-weight: 500;
}
.footer-bg .footer-links .footer-content .input-group input::placeholder {
    color: #878787;
    font-weight: 500;
}
.footer-bg .footer-links .footer-content .input-group .input-group-text {
    position: relative;
    color: #fff;
    border-radius: 0 23px 23px 0;
    background-image: var(--theme-gradient7);
    border: none;
    padding: 10px 15px 10px 10px;
    height: 100%;
}
.footer-bg .footer-links .footer-content .input-group .input-group-text::after {
    -webkit-box-shadow: 5.353px 5.945px 12px var(--theme-default3);
    box-shadow: 5.353px 5.945px 12px var(--theme-default3);
    opacity: 0.26;
    border-radius: 0 23px 23px 0;
}
.footer-bg .bottom-blog {
    padding-top: 30px;
    margin-left: 40px;
    border-top: 1px solid #202020;
}
.footer-bg .bottom-blog .footer-links {
    padding-bottom: 0;
    position: relative;
}
.footer-bg .bottom-blog .footer-links .footer-content {
    margin-top: 0;
}
.footer-bg .bottom-blog .media .img-overlay {
    position: relative;
}
.footer-bg .bottom-blog .media .img-overlay img {
    width: 65px;
    height: 52px;
    border-radius: 5px;
}
.footer-bg .bottom-blog .media .img-overlay::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    -webkit-box-shadow: inset 0px -10px 18px 0px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px -10px 18px 0px rgba(0, 0, 0, 0.8);
}
.footer-bg .bottom-blog .media .media-body {
    margin-left: 20px;
}
.footer-bg .bottom-blog .media .media-body h6 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-bg .bottom-blog .media .media-body h6 a {
    color: #fff;
}
.footer-bg .bottom-blog .media .media-body p {
    line-height: 1.4;
    margin-bottom: -1px;
}
.footer-bg .bottom-blog .media .media-body p a {
    color: #d2d2d2;
}
.footer-bg .bottom-blog .slick-initialized .slick-slide {
    margin-bottom: -1px;
}


body.dark-layout .modal-footer {
    border-top: 1px solid #383434;
}


body.dark-layout footer .footer-links h5 {
    color: rgba(255, 255, 255, 0.93);
}
body.dark-layout footer .footer-links .footer-content .for-dark {
    display: block;
    -webkit-filter: unset;
    filter: unset;
}
body.dark-layout footer .footer-links .footer-content .for-light {
    display: none;
}
body.dark-layout footer.footer-dark {
    background: #232323;
}
body.dark-layout footer .sub-footer.sub-footer-dark {
    background-color: #1b1b1b;
}
body.dark-layout footer.footer-light .footer-details .footer-contact ul li {
    color: rgba(255, 255, 255, 0.9);
}
body.dark-layout footer.footer-light .footer-details p {
    color: rgba(255, 255, 255, 0.6);
}
body.dark-layout footer.footer-light .footer-content > img {
    -webkit-filter: brightness(0.8) invert(0.2);
    filter: brightness(0.8) invert(0.2);
}
body.dark-layout footer.footer-light .footer-links h5 {
    color: rgba(255, 255, 255, 0.9);
}
body.dark-layout footer.footer-light .footer-links .footer-content li a {
    color: rgba(255, 255, 255, 0.6);
}
body.dark-layout footer.footer-light .sub-footer.sub-footer-dark {
    background-color: #232323;
}
body.dark-layout footer .footer-details .footer-contact ul li {
    color: rgba(255, 255, 255, 0.93);
}
body.dark-layout .footer-bg p {
    color: #d2d2d2;
}
body.dark-layout .footer-bg .footer-details h6 {
    color: rgba(255, 255, 255, 0.93);
}
body.dark-layout .footer-bg .bottom-blog .media .media-body h6 {
    color: rgba(255, 255, 255, 0.93);
}
body.dark-layout .footer-bg .bottom-blog .media .media-body h6 a {
    color: rgba(255, 255, 255, 0.93);
}


body.rtl
.footer-bg
.footer-links
.footer-content
.input-group
.input-group-text::after {
    border-radius: 23px 0 0 23px;
}


body.rtl .modal-footer > :not(:last-child) {
    margin-left: 0.25rem;
    margin-right: unset;
}
body.rtl .modal-footer > :not(:first-child) {
    margin-left: unset;
    margin-right: 0.25rem;
}


body.rtl .footer-left-space {
    padding-left: unset;
    padding-right: 40px;
}
body.rtl footer {
    text-align: right;
}
body.rtl footer .footer-details .footer-contact ul li i {
    margin-right: unset;
    margin-left: 15px;
}
body.rtl footer .footer-links .footer-content .footer-blog .media .media-body {
    margin-left: unset;
    margin-right: 20px;
}
body.rtl footer .sub-footer .sub-footer-link li + li {
    margin-left: unset;
    margin-right: 20px;
}
body.rtl footer.footer-brown .footer-details img {
    margin-right: 0;
}
body.rtl footer.footer-brown .sub-footer .footer-social ul li + li {
    margin-right: 35px;
}
body.rtl footer.footer-light .footer-links .footer-title span {
    margin-left: unset;
    margin-right: 20px;
}
body.rtl footer.footer-light .footer-links .footer-content li a svg {
    float: right;
    margin-left: 5px;
    margin-right: -5px;
}
body.rtl footer.footer-res .footer-links .footer-content li a svg {
    float: right;
    margin-right: -5px;
    margin-left: 5px;
}
body.rtl .footer-bg .footer-details .icon-list li + li {
    margin-right: 4px;
    margin-left: unset;
}
body.rtl .footer-bg .footer-links .footer-content .input-group input {
    border-radius: 0 23px 23px 0 !important;
}
body.rtl
.footer-bg
.footer-links
.footer-content
.input-group
.input-group-text {
    border-radius: 23px 0 0 23px;
    padding: 10px 10px 10px 15px;
    margin-left: 0;
}
body.rtl .footer-bg .bottom-blog {
    margin-left: unset;
    margin-right: 40px;
}
body.rtl .footer-bg .bottom-blog .footer-slider .media {
    direction: rtl;
}
body.rtl .footer-bg .bottom-blog .footer-slider .media .media-body {
    margin-left: unset;
    margin-right: 20px;
}

@media (max-width: 1399px) {
    body.rtl .layout-home2 .feature-section .feature-content {
        margin-right: 50px;
    }
    body.rtl .footer-light .footer-left-space {
        padding-right: 20px;
    }
}

.modal-footer {
    border-top-color: #eee;
    padding: 30px;
    border-top: none;
}


.footer-custom-col .row > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.footer-custom-col .row > div:nth-child(4),
.footer-custom-col .row > div:last-child {
    margin-top: 30px;
}
.footer-custom-col .row > div:nth-child(4) .footer-left-space,
.footer-custom-col .row > div:last-child .footer-left-space {
    padding-left: 0;
}
.footer-custom-col .order-xl {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.footer-bg .footer-details {
    padding: 30px 15px;
}
.footer-bg .footer-details .icon-list li + li {
    margin-left: 2px;
}
footer .footer-links .footer-content {
    margin-top: 40px;
}
footer .footer-links .footer-content .footer-map iframe {
    width: 100%;
    height: 190px;
}
footer.footer-dark .footer-details p {
    margin-top: 34px;
}


.footer-light .footer-left-space {
    padding-left: 20px;
}
footer.footer-light .footer {
    margin-bottom: -6px;
}


footer .footer {
    padding: 80px 0;
}
footer .footer-links .footer-content .footer-map,
footer .footer-links .footer-content .footer-blog {
    padding-top: 0;
}
footer.footer-light .footer {
    margin-bottom: -1px;
}
footer.footer-light .footer .row > div:nth-child(4),
footer.footer-light .footer .row > div:last-child {
    margin-top: 30px;
}
footer.footer-light .footer-links .footer-content {
    margin-top: 20px;
}
footer.footer-light .footer-details .footer-contact ul li + li {
    margin-top: 10px;
}
footer.footer-res .footer .row > div:nth-child(4),
footer.footer-res .footer .row > div:last-child {
    margin-top: 30px;
}
footer.footer-res .footer-links .footer-content {
    margin-top: 20px;
    margin-bottom: -5px;
}
.footer-left-space {
    padding-left: 0;
}
.footer-bg .footer-details {
    margin-bottom: 30px;
}
.footer-bg .bottom-blog {
    margin-left: 0;
}
.footer-bg .footer-links .footer-content {
    margin-top: 20px;
}
.footer-custom-col .row > div:first-child,
.footer-custom-col .row > div.order-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}
.footer-custom-col .row > div:nth-child(3),
.footer-custom-col .row > div:last-child {
    margin-top: 30px;
}
.footer-light .footer-left-space {
    padding-left: 0;
}
.footer-light .row {
    margin-bottom: -5px;
}


footer .footer {
    padding: 70px 0;
}
.footer-bg .footer-links .footer-content .input-group {
    margin-top: 30px;
}


.footer-bg .bottom-blog .media .media-body h6 {
    line-height: 1.4;
}
footer.footer-brown .footer-details img {
    margin: 0 0 -16px;
}

.modal-footer {
    padding: 20px;
}



footer .footer {
    padding: 50px 0;
}
footer .footer-details p {
    margin-bottom: 10px;
}
footer .footer-details .footer-contact ul li + li {
    margin-top: 10px;
}
footer .sub-footer {
    text-align: center;
}
footer .sub-footer .text-end {
    text-align: center !important;
    margin-top: 5px;
}
footer .sub-footer.sub-footer-dark {
    padding-top: 16px;
}
footer .sub-footer.footer-light {
    padding-top: 8px;
}
footer .footer-links {
    padding-bottom: 15px;
}
footer .footer-links .footer-title span {
    display: block;
    top: 0;
    right: 0;
}
footer .footer-links .footer-title span i {
    font-size: 13px;
}
footer .footer-links h5 {
    margin-bottom: 0;
    line-height: 1.2;
}
footer .footer-links .footer-content {
    margin-top: 15px;
}
footer .footer-links .footer-content .footer-blog p {
    line-height: 1.6;
}
footer .footer-links .footer-content li + li {
    margin-top: 6px;
}
footer .footer-links.footer-details .footer-content {
    margin-top: 15px !important;
}
footer.footer-dark .footer-details .footer-content {
    margin-top: 15px;
}
footer.footer-dark .footer-details .footer-content p {
    margin-top: 10px;
}
footer.footer-light .footer-links .footer-content {
    margin-top: 15px;
}
footer.footer-light .footer-links .footer-title .according-menu {
    position: absolute;
    top: 0;
    right: 0;
}
footer.footer-res .footer-contact {
    margin-bottom: 3px;
}
footer.footer-res .footer .row > div:nth-child(4),
footer.footer-res .footer .row > div:last-child {
    margin-top: 0;
}
footer.footer-res .footer .row > div:last-child .footer-links {
    padding-bottom: 0;
    margin-bottom: -3px;
}
footer.footer-res .footer-links .footer-content {
    margin-top: 15px;
    margin-bottom: 0;
}
.footer-bg .bottom-blog {
    padding-top: 20px;
}
.footer-bg .bottom-blog .footer-links .footer-title span {
    right: 6px;
}
.footer-bg .bottom-blog .footer-links .footer-content {
    margin-top: 15px;
}
.footer-bg .bottom-blog .footer-links .footer-content .row > div + div {
    margin-top: 15px;
}
.footer-bg .footer-links {
    padding-bottom: 20px;
}
.footer-bg .footer-links .footer-content {
    margin-top: 15px;
}
.footer-bg .footer-links .footer-content .input-group {
    margin-top: 20px;
}
.footer-bg .footer-links .footer-content li + li {
    margin-top: 6px;
}
.footer-custom-col .row > div:nth-child(3),
.footer-custom-col .row > div:last-child,
.footer-custom-col .row > div:nth-child(4),
.footer-light .row > div:nth-child(3),
.footer-light .row > div:last-child,
.footer-light .row > div:nth-child(4) {
    margin-top: 0 !important;
}
.footer-custom-col .row > div:last-child .footer-links,
.footer-light .row > div:last-child .footer-links {
    padding-bottom: 0;
}
.footer-brown .footer .row,
.footer-dark .footer .row {
    margin-top: -3px;
}
.footer-brown .sub-footer {
    padding-top: 16px;
}
.footer-brown .sub-footer .text-end {
    margin-top: 0;
}
.footer-light .row {
    margin-bottom: -3px;
    margin-top: -3px;
}
.footer-light .footer-content {
    margin-bottom: -2px;
}


footer .footer {
    padding: 40px 0;
}
footer .footer-links .footer-content .footer-blog p {
    font-size: 13px;
}
.footer-bg .bottom-blog .slick-initialized .slick-slide {
    margin-bottom: -5px;
}
.footer-bg .footer-details {
    padding: 20px 15px;
}

@media (max-width: 404px) {
    .footer-bg .bottom-blog .slick-initialized .slick-slide {
        margin-bottom: -1px;
    }
}

footer .sub-footer p {
    font-size: 13px;
}
footer .sub-footer .sub-footer-link li {
    font-size: 13px;
}
footer .sub-footer .sub-footer-link li + li {
    margin-left: 10px;
}
footer.footer-brown .sub-footer .footer-social ul li + li {
    margin-left: 10px;
}

.footer-bg .footer-details .icon-list li a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.footer-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}
li {
    display: inline-block;
    font-size: 14px;
}
