.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    outline: 0;
    background: #fff;
    cursor: inherit;
    display: block;
  }
  .chat-textarea .chat-btns-w .btn-file::after ,.chat_optns .dropdown-toggle::after{
    display: none;
  }

  .icon_chat {
    position: absolute;
    left: -64px;
    bottom: 170px;
    background: #fda706;
    color: #fff;
    transform: rotate(-90deg) translateX(-100%);
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    width: 90px;
    text-align: center;
  }

  .icon_close{
    font-size: 20px;
    cursor: pointer;
  }
    /*Chat*/
  .recipient-chat-user {position: relative;padding: 8px 10px;cursor: pointer;margin: 5px 0;transition: all 0.1s;}
  .recipient-chat-user:hover {background-color: #f0f2f5 !important;}
  .recipient-chat-user .new-message-alert {font-size: 13px;display: flex; color: #fff; font-weight: bold; align-items: center;justify-content: center;width: 20px;height: 20px;background: #E91E63;border-radius: 50%;padding: 0;margin-right: 5px;}
  .recipient-chat-user .user-info {display: flex;align-items: center;}
  .recipient-chat-user img {width: 35px;min-width: 35px;height: 35px;border-radius: 100%;object-fit: cover;margin-right: 8px;}
  .recipient-chat-user .chat-user-text {color: #353535;font-size: 14.5px;text-transform: capitalize;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: calc(100% - 85px);}
  .wow_chat_list-right {margin-left: auto;display: inline-flex;align-items: center;}
  .recipient-chat-user .chat-loading-icon {display: flex;align-items: center;justify-content: center;width: 25px;height: 25px;background: #fff;border-radius: 50%;position: absolute;top: 50%;transform: translateY(-50%);right: 7px;}
  .recipient-chat-user .chat-loading-icon svg {width: 20px;height: 20px;}
  .recipient-chat-user .chat-loading-icon:empty {width: 0;height: 0;}
  .chat-container.open {
    right: 0px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 10px 1px rgba(68, 102, 242, 0.05);
    box-shadow: 0 0 10px 1px rgba(68, 102, 242, 0.05);
}
  .chat-container { -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; max-height: 100%;bottom: 0;color: #3f3f3f;height: 100%;position: fixed;right: -250px; top: 0;width: 250px;padding-top: 45px;background: #f4f4f4;z-index: 999999;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);display: flex;flex-direction: column;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;}
  .chat-container.full {min-height:100%}
  .chat-container .online-toggle {padding: 10px;display: flex;align-items: center;}
  .chat-container .online-toggle h3 {margin: 0;font-size: 18px;}
  .chat-container .online-toggle .chat-status {margin-left: auto;display: inline-flex;align-items: center;}
  .chat-container .online-toggle .chat-status .btn {display: flex;align-items: center;justify-content: center;background-color: rgba(0, 0, 0, .04);height: 27px;margin-left: 8px;width: 27px;min-width: 27px;border-radius: 50%;border: 0;box-shadow: none;padding: 0;}
  .chat-container .online-toggle .chat-status .btn svg {width: 19px;height: 19px;}
  .chat-container .online-toggle .chat-status .dropdown-menu {min-width: 130px;}
  .chat-container .online-toggle .chat-status .dropdown-menu li a {font-size: 14.5px;}
  .chat-container .online-toggle .chat-status .dropdown-menu li a svg {width: 9px;height: 9px;margin: -2px 5px 0 0;}
  .chat-container .online-toggle .chat-status .dropdown-menu li.divider {margin: 5px 0;}
  .chat-container .wow_chat_search {padding: 10px;flex: 0 0 auto;}
  .chat-container .wow_chat_search input {width: 100%;background-color: #f0f2f5;border-radius: 7px;height: 32px;border: 0;padding: 1px 12px;outline: 0;}
  .chat-container .wo_chat_tabs {display: flex;justify-content: center;align-items: center;border: 0;text-align: center;margin:0px 0 14px;}
  .chat-container .wo_chat_tabs li {float: none;margin: 0 3px;width: auto;}
  .chat-container .wo_chat_tabs li a {padding: 7px 22px;height: auto;margin: 0;font-size: 14.5px;font-weight: 600;border: 0 !important;border-radius: 10px;color: #949494;cursor: pointer; display: flex;}
  .chat-container .wo_chat_tabs li a:hover {background-color: #ececec !important; display: flex;}
  .chat-container .wo_chat_tabs li.active a {background: #f0e3e3 !important;cursor: pointer !important; display: flex;}
  .chat-container .wo_chat_tabs li a svg {width: 20px;height: 20px;margin-top: -2px;}
  .online-content-toggler {max-height:100%;overflow-y: auto;-webkit-flex: 1 auto;-ms-flex: 1 auto;flex: 1 auto;flex-grow: 1;display: none;}
  .online-content-toggler .empty_state {font-size: 14.5px;}
  .online-content-toggler .empty_state svg {width: 50px;height: 50px;margin: 0 auto 10px;}
  .chat-opacity {width: 250px;position: fixed;height: 100%;display: none;background-color: rgba(255, 255, 255, 0.3);z-index: 2;backdrop-filter: blur(6px);top: 45px;right: 0;align-items: center;justify-content: center;}
  .chat-opacity.active {display:flex;}
  .chat-opacity .empty_state {margin: -45px 0 0;padding: 0 10px;}
  .chat-opacity .empty_state .btn {margin-top: 30px;box-shadow: none;background-color: #03A9F4;color: #ffffff;}
  .wow_group_chat_image, .wow_group_chat_image img {min-height: 180px;max-height: 180px;}
  .group_chat_mbr_list {width:100%;max-height:200px;overflow-x:auto;position: absolute;background: #fff;z-index: 9;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);border-radius: 0 0 4px 4px;}
  .group_chat_mbr_list:empty {padding: 0;box-shadow: none;}
  .group_chat_mbr_list p.no_participant {width:100%;line-height:90px;text-align:center;font-size:15px;margin: 0;}
  .group_chat_mbr_part {border-bottom:1px solid #eaeaea;width: 100%;padding: 10px;}
  .group_chat_mbr_part:last-child {border-bottom:none}
  .group_chat_mbr_part .avatar {width: 37px;height: 37px;margin-right: 10px;}
  .group_chat_mbr_part .avatar img {width: 100%;height: 100%;border-radius: 50%;}
  .group_chat_mbr_part .user-name {font-weight: bold;font-size: 15px;text-transform: capitalize;}
  .group_chat_mbr_part .user-lastseen, .group_chat_mbr_part .user-lastseen .small-last-seen {font-size: 13px;color: #7b7b7b;}
  .chat_main{position:fixed;bottom:0;width:300px;color:#333;z-index:200;border-radius: 10px 10px 0 0;right:270px;box-shadow: 0 12px 28px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 4%);}
  .chat_main:nth-child(2){right:585px}
  .chat_main:nth-child(3){right:900px}
  .chat-tab .online-toggle-hdr {width:100%; min-height: 60px; font-size: 14.5px;padding:11px;border-radius: 10px 10px 0 0;box-shadow:0 1px 3px 0 rgba(0,0,0,.06);position:relative;display: flex;align-items: center;justify-content: space-between;}
  .wow_chat_hdr_usr {display: inline-flex;align-items: center;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;min-width: 0;}
  .wow_chat_hdr_usr .avatar {width: 28px;min-width: 28px;height: 28px;margin-right: 8px;}
  .wow_chat_hdr_usr .avatar img {width: 100%;height: 100%;border-radius: 50%;}
  .wow_chat_hdr_usr > div {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100%;}
  .wow_chat_hdr_usr a {text-decoration: none;}
  .wow_chat_hdr_usr h3 {margin: 0;font-size: 14.5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100%;line-height: normal;}
  .wow_chat_hdr_usr .chat-tab-status {margin: -1px 0 -2px;display: none;font-size: 10px; padding:  0px 5px 0px 5px;}
  .wow_chat_hdr_usr .chat-tab-status.active {display: block;color:#7dd181;}
  /*.chat-tab .online-toggle-hdr.white_online .chat-tab-status.active {color: #ffffff;}
  .chat-tab .online-toggle-hdr.white_online a {color: #ffffff;}
  .chat-tab .online-toggle-hdr.white_online svg {color: #ffffff; fill: #ffffff;}*/
  .chat-tab .online-toggle-hdr.white_online {
      animation: mymove 1.5s infinite;
  }
  
  
  @keyframes mymove {
    0% {background-color: #fff;}
    50% {background-color: #fffaf2;}
    100% {background-color: #fff;}
  }
  
  .chat-tab .online-toggle-hdr, .wow_thread_head {
      background: #fff;
      color: #444;
  }
  .chat-tab .online-toggle-hdr a {
      color: #444;
  }
  .post-file .plyr--fullscreen-enabled video {
      max-height: none;
  }
  .wow_chat_hdr_usr .chat-tab-status svg {width: 7px;height: 7px;margin-top: -1px;}
  .chat-tab .online-toggle-hdr .close-chat {flex: 0 0 auto;}
  .chat-tab .online-toggle-hdr .close-chat a {display: inline-block;line-height: 1;}
  .chat-tab .online-toggle-hdr .close-chat svg {width: 23px;
      height: 23px;
      margin: 1px; border-radius:max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px; padding: 3px; transition: all 0.1s;}
  .chat-tab .online-toggle-hdr .close-chat svg.disabled {opacity: 0.4;}
  .chat-tab .online-toggle-hdr .close-chat svg:hover {background: rgba(0, 0, 0, 0.1)}
  
  
  .chat-tab .online-toggle-hdr h3 {
      transition: all 0.1s;
      padding:  3px 5px 3px 5px;
      border-radius:max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
  }
  .chat-tab .online-toggle-hdr h3:hover {
      background: rgba(0, 0, 0, 0.03);
  }
  .chat-tab .online-toggle-hdr img:hover {
      -webkit-filter: brightness(89%);
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  
  .chat-user-desc {padding:10px;display:none;align-items: center;justify-content: center;height: 274px;flex-direction: column;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;}
  .chat-user-desc.chat-user-desc-show {display: flex;}
  .chat-user-desc img {width: 80px;height: 80px;border-radius: 50%;margin-bottom: 15px;}
  .chat-user-desc .text {text-align: center;}
  .chat-user-desc .head-text {font-size: 14.5px;color:#000;margin-bottom: 5px;}
  .chat-user-desc .desc-text {font-size: 14.5px;color:#6b6b6b;}
  .chat-user-desc .desc-text svg {margin-top:-2px;width:13px;height:13px}
  .chat-messages-wrapper{height:280px;max-height:300px;overflow:auto;overflow-x:hidden;background-color:#fff;width:300px;padding-top: 6px;}
  .chat-messages-wrapper .incoming{max-width:65%}
  .chat-messages-wrapper .incoming p .hash{color:#333!important}
  .chat-messages-wrapper .outgoing .message-media a{color:#fff}
  .chat-messages-wrapper .messages-wrapper{border:none;padding:4px 12px;position: relative;}
  .chat-messages-wrapper .incoming, .chat-messages-wrapper .outgoing {max-width:75%;position: relative;}
  .chat-messages-wrapper .message-group_owner {font-weight: bold;font-size: 13px;margin: 3px 1px 2px;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;}
  .chat-messages-wrapper .message-group_owner a {text-decoration: none;}
  .chat-messages-wrapper .incoming .message-text, .chat-messages-wrapper .outgoing .message-text {border-radius:15px;padding: 6px 14px;font-size: 14.5px;color:#333;background-color:#f0f2f5;}
  .chat-messages-wrapper .messages-wrapper .message-media {border-radius:15px;overflow:hidden;line-height: 1;display: flex;}
  .chat-messages-wrapper .messages-wrapper .message-media > a:not(.file-sharing-download-btn) {text-decoration: none;border-radius: 15px;padding: 6px 10px;font-size: 14.5px;line-height: 16px;}
  .chat-messages-wrapper .messages-wrapper .incoming .message-media > a:not(.file-sharing-download-btn) {background-color: #f0f2f5;}
  .chat-messages-wrapper .messages-wrapper .message-typing{margin-top:10px}
  .chat-messages-wrapper .messages-wrapper .message-typing:empty{margin-top:0}
  .chat-messages-wrapper .messages-wrapper .message-typing svg {margin-left:  5px}
  .chat-messages-wrapper .messages-wrapper .name{color:#666;font-size: 12px}
  .chat-messages-wrapper .messages-wrapper .user-avatar-right{float:right;width:30px;margin-left:10px;border-radius:50%}
  .chat-messages-wrapper .messages-wrapper .user-avatar-left{float:left;width:30px;margin-right:10px;border-radius:50%}
  .chat-messages-wrapper .media-video-file{width:100%;border-radius:1px;padding:0;margin-top:0;border:none}
  .chat-messages-wrapper .file-sharing-download-btn{margin-top:1px}
  .chat-messages-wrapper .image-file{max-width:100%;border:0;max-height:150px;border-radius:0}
  .chat-messages-wrapper .message-details{margin-right:0;margin-top:2px;font-size: 12px;}
  .btn-chat {width:50.2%;border-radius:0;font-size: 14.5px;margin-top:0}
  .chat-textarea {width:100%;background-color:#fff ; position: relative;}
  .chat-textarea textarea {width: calc(100% - 24px);
      height: 36px;
      border-radius: 2em;
      padding: 7px 12px;
      font-size: 14px;
      resize: none;
      max-height: 36px;
      border: 0;
      background: #f0f2f5 !important;
      margin: 0 10px 10px;}
  .chat-textarea .chat-btns-w {padding: 1px 10px 8px;display: flex;align-items: center;justify-content: space-between;}
  .chat-textarea .chat-btns-w .ball-pulse {margin: 0;line-height: 26px;transform: scale(0.7);}
  .chat-textarea .chat-btns-w .btn-file {padding: 0;display: inline-flex;border: 0;cursor: pointer;box-shadow: none;width: 27px;height: 27px;border-radius: 50%;align-items: center;justify-content: center;transition: all 0.15s;margin: 0 2px;}
  .chat-textarea .chat-btns-w .btn-file:hover {background-color: rgba(0, 0, 0, 0.07);}
  .chat-textarea .chat-btns-w .record_timei {position: absolute;bottom: 11px;padding: 4px 7px;background-color: #fff;right: 45px;border-radius: 6px;box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.19);line-height: 1;font-weight: bold;font-size: 13px;font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;}
  .chat-textarea .chat-btns-w .chat_optns {color:#5b5b5b}
  .chat-textarea .chat-btns-w .chat_optns svg {width:22px;height:22px;}
  .chat-textarea .chat-btns-w .chat_optns.dropup {position: static;}
  .chat-textarea .chat-btns-w .chat_optns .dropdown-menu {left: 0;right: 0;height: 280px;padding: 0;bottom: 45px;margin: 0;}
  .chat-textarea .chat-btns-w .chat_optns .dropdown-menu .empty_state {margin: 83px 0;}
  .chat-textarea .chat-btns-w .chat_optns .dropdown-menu .empty_state svg {width: 60px;height: 60px;color: #ffffff;}
  .chat-textarea .chat-btns-w .chat_optns .dropdown-menu.wow_choose_chat_clrs {bottom: 92px;box-shadow: none;border-radius: 0;background-color: rgba(255, 255, 255, 0.7);backdrop-filter: blur(10px);}
  .wow_choose_chat_clrs .chat-colors-cont {width: 100%;height: 100%;padding: 15px;}
  .wow_choose_chat_clrs .chat-colors-cont a {width: auto;line-height: 1;font-size: inherit;margin: 5px 3px;}
  .wow_choose_chat_clrs .chat-colors-cont a svg {width: 40px !important;height: 40px !important;border-radius: 50%;transition: all 0.15s;}
  .wow_choose_chat_clrs .chat-colors-cont a svg:hover {box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);opacity: 0.8;}
  .chat-textarea .chat-btns-w .chat_optns .emo-container, .emo-message-container, .publisher-box-emooji {max-height: 280px;overflow-y: auto; /*display: block !important;*/}
  .publisher-box-emooji {min-width: 260px;}
  .chat-textarea .chat-btns-w .chat_optns .emo-container span, .emo-message-container span, .publisher-box-emooji span {display: inline-flex;
      margin: 1px;
      padding: 2px;
      border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
      transition: all 0.15s;
      cursor: pointer;
      font-size: 21px;}
  .chat-textarea .chat-btns-w .chat_optns .emo-container span:hover {background-color: #efefef;}
  .chat-textarea .chat-btns-w .chat_optns .emo-container span i {width: 25px;height: 25px;background-size: 25px 25px;margin: 0;}
  #chat-box-stickers {height:280px}
  #chat-box-stickers input {padding-left:10px;border:none;width:100%;border-radius:0;border-bottom:1px solid #f0f0f0}
  #chat-box-stickers #chat-box-stickers-cont img, #chat-box-stickers #chat-box-stickers-cont video {height:83px;max-height:85px}
  #chat-box-stickers-cont {width:100%;overflow:scroll;max-height:280px}
  #chat-box-stickers input+#chat-box-stickers-cont {max-height:260px}
  #chat-box-stickers-cont img, #chat-box-stickers-cont video {width:50%;height:80px;display:inline;cursor:pointer;float:left}

  .chat-messages-wrapper .deleteMessage{position:absolute;top:50%;left:-18px;cursor:pointer;color:#888;display:none;transform:translate(0,-50%)}
.chat-messages-wrapper .deleteMessage.right{left:auto!important;right:-18px}
.chat-messages-wrapper .deleteMessage svg.feather{margin-top:-3px;width:15px;height:15px}


/*Video Processing*/
.vid_procss_alrt {position: absolute;top: 0;right: 0;bottom: 6px;left: 0;z-index: 9;margin: 0;backdrop-filter: blur(3px);background: linear-gradient(transparent, black);display: flex;align-items: flex-end;color: #fff;}
.vid_procss_alrt > span {position: absolute;top: 10px;right: 10px;background: rgb(255 255 255 / 30%);border-radius: 50%;padding: 4.3px 3px;line-height: 1;}

/*Reply Message*/
.text-sender-container .messagejoint {display: flex;flex-direction: column;height: calc(100vh - 129px);}
.text-sender-container .sendMessages {flex-shrink: 0;}
.wo_reply_msg_bg {padding: 5px 7px;border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;margin-top: 7px;}
.text-sender-container .message-contnaier.margin-active {margin-bottom: 25px;}
.text-sender-container .incoming .message-model .message .wo_reply_msg_bg {background: #ddd;}
.text-sender-container .outgoing .message-model .message .wo_reply_msg_bg, .chat-messages-wrapper .outgoing .message-text .wo_reply_msg_bg {background: rgb(0 0 0 / 40%);}
.text-sender-container .message-contnaier .reactions-box {top: -30px;}
.text-sender-container .message-contnaier:first-child .reactions-box {top: -10px;}
.message_reply_text, .message_reply_story_text, .chat_reply_text {display: flex;align-items: center;margin: 5px 30px -5px;background: #f8f8f8;padding: 8px;border-radius: 12px;box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);}
.message_reply_text span, .chat_reply_text span {flex: 1;}
.message_reply_text p, .chat_reply_text p {margin: 0;}
.message_reply_text svg, .message_reply_story_text svg, .chat_reply_text svg {margin-left: auto;}
.chat_reply_text, .chat-textarea .message_reply_story_text {margin: 0 10px 10px 5px;padding: 5px;border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;}
.chat-messages-wrapper .messages-wrapper:first-child .reactions-box {top: -10px;}
.chat-messages-wrapper .messages-wrapper .reactions-box {top: -30px;transform: scale(0.8);width: 292px;}
.chat-messages-wrapper .wo_reply_msg_bg .message-text {padding: 0;background: transparent !important;}
.chat-messages-wrapper .incoming .message-text .wo_reply_msg_bg {background: #cdcdcd;}
.text-sender-container .message-contnaier .message-seen.message-details {text-align: end;margin: 3px 0 0;}
.text-sender-container .message-contnaier .message-seen.message-details:empty {margin: 0;}
.text-sender-container .message-contnaier .message-typing.message-details {margin-top: 4px;}
.text-sender-container .message-contnaier .message-typing.message-details:empty {margin-top: 0;}
/*Story Reactions*/
.story_reacts_box {left: 50%;transform: translateX(-50%);top: 40px;white-space: nowrap;line-height: 1;}
.story_reacts_box .reaction {float: none;}
.wo_imagecombo_lbox.story_lightbox .wo_story_header .wo_stor_h_opts .like-emo > .how_reacted {background: #000;}