@font-face {
  font-family: 'kemedar';
  src:  url('../fonts/kemedar.eot?ob9i8r');
  src:  url('../fonts/kemedar.eot?ob9i8r#iefix') format('embedded-opentype'),
    url('../fonts/kemedar.ttf?ob9i8r') format('truetype'),
    url('../fonts/kemedar.woff?ob9i8r') format('woff'),
    url('../fonts/kemedar.svg?ob9i8r#kemedar') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kemedar' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hp-action-button-add-property:before {
  content: "\e900";
}
.icon-hp-action-button-buy-product:before {
  content: "\e901";
}
.icon-hp-action-button-connect:before {
  content: "\e902";
}
.icon-hp-action-button-find-property:before {
  content: "\e903";
}
.icon-hp-action-button-hire-handyman:before {
  content: "\e904";
}
.icon-hp-action-button-invest:before {
  content: "\e905";
}
.icon-hp-hmenu-property-apartment:before {
  content: "\e906";
}
.icon-hp-hmenu-property-building:before {
  content: "\e907";
}
.icon-hp-hmenu-property-chalet:before {
  content: "\e908";
}
.icon-hp-hmenu-property-clinic:before {
  content: "\e909";
}
.icon-hp-hmenu-property-condo:before {
  content: "\e90a";
}
.icon-hp-hmenu-property-factory:before {
  content: "\e90b";
}
.icon-hp-hmenu-property-farm:before {
  content: "\e90c";
}
.icon-hp-hmenu-property-hospital:before {
  content: "\e90d";
}
.icon-hp-hmenu-property-hotel:before {
  content: "\e90e";
}
.icon-hp-hmenu-property-House:before {
  content: "\e90f";
}
.icon-hp-hmenu-property-land:before {
  content: "\e910";
}
.icon-hp-hmenu-property-mall:before {
  content: "\e911";
}
.icon-hp-hmenu-property-menu:before {
  content: "\e912";
}
.icon-hp-hmenu-property-office:before {
  content: "\e913";
}
.icon-hp-hmenu-property-oil-station:before {
  content: "\e914";
}
.icon-hp-hmenu-property-palace:before {
  content: "\e915";
}
.icon-hp-hmenu-property-restaurant:before {
  content: "\e916";
}
.icon-hp-hmenu-property-room:before {
  content: "\e917";
}
.icon-hp-hmenu-property-shop:before {
  content: "\e918";
}
.icon-hp-hmenu-property-sports:before {
  content: "\e919";
}
.icon-hp-hmenu-property-villa:before {
  content: "\e91a";
}
.icon-hp-hmenu-property-warehouse:before {
  content: "\e91b";
}
.icon-hp-hm-hire-carpenter:before {
  content: "\e91c";
}
.icon-hp-hm-hire-electrican:before {
  content: "\e91d";
}
.icon-hp-hm-hire-furniture-movers:before {
  content: "\e91e";
}
.icon-hp-hm-hire-interior-design:before {
  content: "\e91f";
}
.icon-hp-hm-hire-Lawyer:before {
  content: "\e920";
}
.icon-hp-hm-hire-painter:before {
  content: "\e921";
}
.icon-hp-hm-hire-plumber:before {
  content: "\e922";
}
.icon-hp-hm-hire-roof:before {
  content: "\e923";
}
.icon-hp-hm-hire-tile-worker:before {
  content: "\e924";
}
.icon-hp-special-for-academy-student:before {
  content: "\e925";
}
.icon-hp-special-for-affiliate:before {
  content: "\e926";
}
.icon-hp-special-for-Finishing-company:before {
  content: "\e927";
}
.icon-hp-special-for-instructor:before {
  content: "\e928";
}
.icon-hp-special-for-investor:before {
  content: "\e929";
}
.icon-hp-special-for-Job-seeker:before {
  content: "\e92a";
}
.icon-hp-special-for-kemmeta-memeber:before {
  content: "\e92b";
}
.icon-hp-special-for-Product-buyers:before {
  content: "\e92c";
}
.icon-hp-special-for-product-seller:before {
  content: "\e92d";
}
.icon-hp-special-for-professional-and-technican:before {
  content: "\e92e";
}
.icon-hp-special-for-Property-Buyer:before {
  content: "\e92f";
}
.icon-hp-special-for-property-owner:before {
  content: "\e930";
}
.icon-hp-special-for-Real-estate-agent:before {
  content: "\e931";
}
.icon-hp-special-for-Real-estate-developers:before {
  content: "\e932";
}
.icon-hp-special-for-Store-collaborator:before {
  content: "\e933";
}
.icon-hp-special-for-team:before {
  content: "\e934";
}
.icon-hp-stats-agents:before {
  content: "\e935";
}
.icon-hp-stats-Countries:before {
  content: "\e936";
}
.icon-hp-stats-Courses:before {
  content: "\e937";
}
.icon-hp-stats-developer:before {
  content: "\e938";
}
.icon-hp-stats-freelancer-marketiers:before {
  content: "\e939";
}
.icon-hp-stats-instructor:before {
  content: "\e93a";
}
.icon-hp-stats-Instructors:before {
  content: "\e93b";
}
.icon-hp-stats-location:before {
  content: "\e93c";
}
.icon-hp-stats-Products:before {
  content: "\e93d";
}
.icon-hp-stats-Professional-Technicians:before {
  content: "\e93e";
}
.icon-hp-stats-projects:before {
  content: "\e93f";
}
.icon-hp-stats-properties:before {
  content: "\e940";
}
.icon-hp-stats-Shops:before {
  content: "\e941";
}
.icon-mm-all-user-favorite-agent:before {
  content: "\e942";
}
.icon-mm-all-user-favorite-developer:before {
  content: "\e943";
}
.icon-mm-all-user-favorite-Franchise-owner-area:before {
  content: "\e944";
}
.icon-mm-all-user-favorite-projects:before {
  content: "\e945";
}
.icon-mm-all-user-favorite-Properties:before {
  content: "\e946";
}
.icon-mm-all-user-Favorites:before {
  content: "\e947";
}
.icon-mm-all-user-favorite-search:before {
  content: "\e948";
}
.icon-mm-all-user-money-and-orders:before {
  content: "\e949";
}
.icon-mm-all-user-money-and-orders-Order-history:before {
  content: "\e94a";
}
.icon-mm-all-user-money-and-orders-Payment-methods:before {
  content: "\e94b";
}
.icon-mm-all-user-money-and-orders-Wallet:before {
  content: "\e94c";
}
.icon-mm-all-user-my-account:before {
  content: "\e94d";
}
.icon-mm-all-user-my-account-Change-Password:before {
  content: "\e94e";
}
.icon-mm-all-user-my-account-edit-profile:before {
  content: "\e94f";
}
.icon-mm-all-user-my-account-logout:before {
  content: "\e950";
}
.icon-mm-all-user-my-account-profile:before {
  content: "\e951";
}
.icon-mm-all-user-Premium-Services:before {
  content: "\e952";
}
.icon-mm-all-user-Premium-Services-Paid-service:before {
  content: "\e953";
}
.icon-mm-all-user-Premium-Services-Promote-my-ads:before {
  content: "\e954";
}
.icon-mm-all-user-Premium-Services-subscription:before {
  content: "\e955";
}
.icon-mm-all-user-Tools-_-communications:before {
  content: "\e956";
}
.icon-mm-all-user-Tools-_-communications-Email:before {
  content: "\e957";
}
.icon-mm-all-user-Tools-_-communications-file-manager:before {
  content: "\e958";
}
.icon-mm-all-user-Tools-communications-Conversations:before {
  content: "\e959";
}
.icon-mm-common-user-add-buy-request:before {
  content: "\e95a";
}
.icon-mm-common-user-add-new-property:before {
  content: "\e95b";
}
.icon-mm-common-user-agent:before {
  content: "\e95c";
}
.icon-mm-common-user-Bought-or-Rented:before {
  content: "\e95d";
}
.icon-mm-common-user-Buy-requests:before {
  content: "\e95e";
}
.icon-mm-common-user-contacted-people:before {
  content: "\e95f";
}
.icon-mm-common-user-contacted-properties:before {
  content: "\e960";
}
.icon-mm-common-user-dashboard:before {
  content: "\e961";
}
.icon-mm-common-user-developer:before {
  content: "\e962";
}
.icon-mm-common-user-favorite-projects:before {
  content: "\e963";
}
.icon-mm-common-user-favorite-property:before {
  content: "\e964";
}
.icon-mm-common-user-Find-a-project:before {
  content: "\e965";
}
.icon-mm-common-user-find-property:before {
  content: "\e966";
}
.icon-mm-common-user-find-user:before {
  content: "\e967";
}
.icon-mm-common-user-franchise-area:before {
  content: "\e968";
}
.icon-mm-common-user-franchise-owner-country:before {
  content: "\e969";
}
.icon-mm-common-user-In-negotiation-properties:before {
  content: "\e96a";
}
.icon-mm-common-user-In-processing-properties:before {
  content: "\e96b";
}
.icon-mm-common-user-kemedar-buyer-organizer:before {
  content: "\e96c";
}
.icon-mm-common-user-my-buy-request:before {
  content: "\e96d";
}
.icon-mm-common-user-organizer:before {
  content: "\e96e";
}
.icon-mm-common-user-Owners-of-my-properties:before {
  content: "\e96f";
}
.icon-mm-common-user-People-closed-deals:before {
  content: "\e970";
}
.icon-mm-common-user-People-negotiating:before {
  content: "\e971";
}
.icon-mm-common-user-people-to-be-contacted:before {
  content: "\e972";
}
.icon-mm-common-user-people-video-my-property:before {
  content: "\e973";
}
.icon-mm-common-user-people-visit:before {
  content: "\e974";
}
.icon-mm-common-user-project:before {
  content: "\e975";
}
.icon-mm-common-user-properties:before {
  content: "\e976";
}
.icon-mm-common-user-properties-compare:before {
  content: "\e977";
}
.icon-mm-common-user-properties-I-added:before {
  content: "\e978";
}
.icon-mm-common-user-Rejected-properties:before {
  content: "\e979";
}
.icon-mm-common-user-Saved-searches:before {
  content: "\e97a";
}
.icon-mm-common-user-Search-buy-request:before {
  content: "\e97b";
}
.icon-mm-common-user-Seller-organizer:before {
  content: "\e97c";
}
.icon-mm-common-user-Site-visited-properties:before {
  content: "\e97d";
}
.icon-mm-common-user-video-show-properties:before {
  content: "\e97e";
}
.icon-mm-common-user-waiting:before {
  content: "\e97f";
}
.icon-mmm_about-us:before {
  content: "\e980";
}
.icon-mmm_about-us-Business-Strategy:before {
  content: "\e981";
}
.icon-mmm_about-us-Covered-Countries:before {
  content: "\e982";
}
.icon-mmm_about-us-Kemedar-in-Numbers:before {
  content: "\e983";
}
.icon-mmm_about-us-mission:before {
  content: "\e984";
}
.icon-mmm_about-us-Opportunities-in-Proptech:before {
  content: "\e985";
}
.icon-mmm_about-us-Our-Beautiful-Minds:before {
  content: "\e986";
}
.icon-mmm_about-us-Our-Business-Model:before {
  content: "\e987";
}
.icon-mmm_about-us-Our-Companies:before {
  content: "\e988";
}
.icon-mmm_about-us-Our-Main-Brands:before {
  content: "\e989";
}
.icon-mmm_about-us-Our-Main-Systems:before {
  content: "\e98a";
}
.icon-mmm_about-us-Our-user_s-Groups:before {
  content: "\e98b";
}
.icon-mmm_about-us-President-Message:before {
  content: "\e98c";
}
.icon-mmm_about-us-Products-_-Services:before {
  content: "\e98d";
}
.icon-mmm_about-us-Proptech-in-Numbers:before {
  content: "\e98e";
}
.icon-mmm_about-us-Stats-Map:before {
  content: "\e98f";
}
.icon-mmm_about-us-Videos-_-Media:before {
  content: "\e990";
}
.icon-mmm_about-us-What-is-new-in-kemedar:before {
  content: "\e991";
}
.icon-mmm_about-us-What-is-Proptech:before {
  content: "\e992";
}
.icon-mmm_about-us-Why-are-We-Different:before {
  content: "\e993";
}
.icon-mmm_about-us-why-we-are-different:before {
  content: "\e994";
}
.icon-mmm_add:before {
  content: "\e995";
}
.icon-mmm_add-Article-news:before {
  content: "\e996";
}
.icon-mmm_add-Auction:before {
  content: "\e997";
}
.icon-mmm_add-Buy-Request:before {
  content: "\e998";
}
.icon-mmm_add-Course:before {
  content: "\e999";
}
.icon-mmm_add-Event:before {
  content: "\e99a";
}
.icon-mmm_add-Finishing-Task:before {
  content: "\e99b";
}
.icon-mmm_add-Group:before {
  content: "\e99c";
}
.icon-mmm_add-Investment-Opportunity:before {
  content: "\e99d";
}
.icon-mmm_add-Page:before {
  content: "\e99e";
}
.icon-mmm_add-Post:before {
  content: "\e99f";
}
.icon-mmm_add-Product:before {
  content: "\e9a0";
}
.icon-mmm_add-Property:before {
  content: "\e9a1";
}
.icon-mmm_add-REIT-Property:before {
  content: "\e9a2";
}
.icon-mmm_add-Store:before {
  content: "\e9a3";
}
.icon-mmm_add-Used-product:before {
  content: "\e9a4";
}
.icon-mmm_add-Video-news:before {
  content: "\e9a5";
}
.icon-mmm_connect:before {
  content: "\e9a6";
}
.icon-mmm_connect_Join-Community:before {
  content: "\e9a7";
}
.icon-mmm_connect-Forums:before {
  content: "\e9a8";
}
.icon-mmm_connect-Groups:before {
  content: "\e9a9";
}
.icon-mmm_connect-Pages:before {
  content: "\e9aa";
}
.icon-mmm_Contact-Us:before {
  content: "\e9ab";
}
.icon-mmm_find_product:before {
  content: "\e9ac";
}
.icon-mmm_find_product_Appliances:before {
  content: "\e9ad";
}
.icon-mmm_find_product_archetictural:before {
  content: "\e9ae";
}
.icon-mmm_find_product_construction:before {
  content: "\e9af";
}
.icon-mmm_find_product_Decorative:before {
  content: "\e9b0";
}
.icon-mmm_find_product_Electrical:before {
  content: "\e9b1";
}
.icon-mmm_find_product_Furniture:before {
  content: "\e9b2";
}
.icon-mmm_find_product_Landscape:before {
  content: "\e9b3";
}
.icon-mmm_find_product_masonry:before {
  content: "\e9b4";
}
.icon-mmm_find_product_Mechanical:before {
  content: "\e9b5";
}
.icon-mmm_find_product_other:before {
  content: "\e9b6";
}
.icon-mmm_find_product_Plumbing:before {
  content: "\e9b7";
}
.icon-mmm_find_proefessional_carpenter:before {
  content: "\e9b8";
}
.icon-mmm_find_proefessional_electrican:before {
  content: "\e9b9";
}
.icon-mmm_find_proefessional_furniture-movers:before {
  content: "\e9ba";
}
.icon-mmm_find_proefessional_interior-design:before {
  content: "\e9bb";
}
.icon-mmm_find_proefessional_Lawyer:before {
  content: "\e9bc";
}
.icon-mmm_find_proefessional_painter:before {
  content: "\e9bd";
}
.icon-mmm_find_proefessional_plumber:before {
  content: "\e9be";
}
.icon-mmm_find_proefessional_roofer:before {
  content: "\e9bf";
}
.icon-mmm_find_proefessional_tile_worker:before {
  content: "\e9c0";
}
.icon-mmm_find_project:before {
  content: "\e9c1";
}
.icon-mmm_find_property:before {
  content: "\e9c2";
}
.icon-mmm_find_property_for-auction:before {
  content: "\e9c3";
}
.icon-mmm_find_property_for-daily-booking:before {
  content: "\e9c4";
}
.icon-mmm_find_property_for-invetment:before {
  content: "\e9c5";
}
.icon-mmm_find_property_for-partnership:before {
  content: "\e9c6";
}
.icon-mmm_find_property_for-rent:before {
  content: "\e9c7";
}
.icon-mmm_find_property_for-sale:before {
  content: "\e9c8";
}
.icon-mmm_find_property_for-sale-or-rent:before {
  content: "\e9c9";
}
.icon-mmm_find_user:before {
  content: "\e9ca";
}
.icon-mmm_find_user_agency:before {
  content: "\e9cb";
}
.icon-mmm_find_user_agent:before {
  content: "\e9cc";
}
.icon-mmm_find_user_developer:before {
  content: "\e9cd";
}
.icon-mmm_find_user_finishing-company:before {
  content: "\e9ce";
}
.icon-mmm_find_user_franchsie-owner-area:before {
  content: "\e9cf";
}
.icon-mmm_find_user_instructor:before {
  content: "\e9d0";
}
.icon-mmm_find_user_product-seller:before {
  content: "\e9d1";
}
.icon-mmm_invest:before {
  content: "\e9d2";
}
.icon-mmm_invest_invest-my-capital:before {
  content: "\e9d3";
}
.icon-mmm_invest_invest-my-real-estate:before {
  content: "\e9d4";
}
.icon-mmm_invest_kemedar-reit-system:before {
  content: "\e9d5";
}
.icon-mmm_learn:before {
  content: "\e9d6";
}
.icon-mmm_learn-Architect:before {
  content: "\e9d7";
}
.icon-mmm_learn-carpenter:before {
  content: "\e9d8";
}
.icon-mmm_learn-Electrician:before {
  content: "\e9d9";
}
.icon-mmm_learn-Furniture-Mover:before {
  content: "\e9da";
}
.icon-mmm_learn-Home-decoration:before {
  content: "\e9db";
}
.icon-mmm_learn-Home-Development:before {
  content: "\e9dc";
}
.icon-mmm_learn-other:before {
  content: "\e9dd";
}
.icon-mmm_learn-Painter:before {
  content: "\e9de";
}
.icon-mmm_learn-Plumber:before {
  content: "\e9df";
}
.icon-mmm_learn-Real-Estate-Business:before {
  content: "\e9e0";
}
.icon-mmm_learn-Real-Estate-Business-Business-Strategy:before {
  content: "\e9e1";
}
.icon-mmm_learn-Real-Estate-Business-Communications:before {
  content: "\e9e2";
}
.icon-mmm_learn-Real-Estate-Business-Management:before {
  content: "\e9e3";
}
.icon-mmm_learn-Real-Estate-Business-Real-estate-Marketing:before {
  content: "\e9e4";
}
.icon-mmm_learn-Roofer:before {
  content: "\e9e5";
}
.icon-mmm_learn-Tile-setter:before {
  content: "\e9e6";
}
.icon-mmm_mobile_apps-academy:before {
  content: "\e9e7";
}
.icon-mmm_mobile_apps-camonea:before {
  content: "\e9e8";
}
.icon-mmm_mobile_apps-kemedar:before {
  content: "\e9e9";
}
.icon-mmm_mobile_apps-kemedar-reit:before {
  content: "\e9ea";
}
.icon-mmm_mobile_apps-kemenews:before {
  content: "\e9eb";
}
.icon-mmm_mobile_apps-KEMETRO:before {
  content: "\e9ec";
}
.icon-mmm_mobile_apps-Kemetro-delivery:before {
  content: "\e9ed";
}
.icon-mmm_mobile_apps-Kemetro-seller:before {
  content: "\e9ee";
}
.icon-mmm_mobile_apps-kemework:before {
  content: "\e9ef";
}
.icon-mmm_mobile_apps-kemmeta:before {
  content: "\e9f0";
}
.icon-mmm_mobile_apps-KEMODOO:before {
  content: "\e9f1";
}
.icon-mmm_mobile_apps-Xeed:before {
  content: "\e9f2";
}
.icon-mmm_social-media-academy:before {
  content: "\e9f3";
}
.icon-mmm_social-media-camonea:before {
  content: "\e9f4";
}
.icon-mmm_social-media-kemedar:before {
  content: "\e9f5";
}
.icon-mmm_social-media-kemedar-reit:before {
  content: "\e9f6";
}
.icon-mmm_social-media-kemenews:before {
  content: "\e9f7";
}
.icon-mmm_social-media-KEMETRO:before {
  content: "\e9f8";
}
.icon-mmm_social-media-Kemetro-delivery:before {
  content: "\e9f9";
}
.icon-mmm_social-media-Kemetro-seller:before {
  content: "\e9fa";
}
.icon-mmm_social-media-kemework:before {
  content: "\e9fb";
}
.icon-mmm_social-media-kemmeta:before {
  content: "\e9fc";
}
.icon-mmm_social-media-KEMODOO:before {
  content: "\e9fd";
}
.icon-mmm_social-media-Xeed:before {
  content: "\e9fe";
}
.icon-mmm_user-benefit-academy-student:before {
  content: "\e9ff";
}
.icon-mmm_user-benefit-advertiser:before {
  content: "\ea00";
}
.icon-mmm_user-benefit--affiliate:before {
  content: "\ea01";
}
.icon-mmm_user-benefit-for-Finishing-company:before {
  content: "\ea02";
}
.icon-mmm_user-benefit-franchise_owner:before {
  content: "\ea03";
}
.icon-mmm_user-benefit-franchise_owner_country:before {
  content: "\ea04";
}
.icon-mmm_user-benefit-instructor:before {
  content: "\ea05";
}
.icon-mmm_user-benefit-investor:before {
  content: "\ea06";
}
.icon-mmm_user-benefit-Job-seeker:before {
  content: "\ea07";
}
.icon-mmm_user-benefit-kemmeta-memeber:before {
  content: "\ea08";
}
.icon-mmm_user-benefit-Product-buyers:before {
  content: "\ea09";
}
.icon-mmm_user-benefit-product-seller:before {
  content: "\ea0a";
}
.icon-mmm_user-benefit-professional-and-technican:before {
  content: "\ea0b";
}
.icon-mmm_user-benefit-Property-Buyer:before {
  content: "\ea0c";
}
.icon-mmm_user-benefit-property-seller:before {
  content: "\ea0d";
}
.icon-mmm_user-benefit-Real-estate-agent:before {
  content: "\ea0e";
}
.icon-mmm_user-benefit-Real-estate-developers:before {
  content: "\ea0f";
}
.icon-mmm_user-benefit-Store-collaborator:before {
  content: "\ea10";
}
.icon-Our-Offices:before {
  content: "\ea11";
}
.icon-side-menu-auction:before {
  content: "\ea12";
}
.icon-side-menu-buy:before {
  content: "\ea13";
}
.icon-side-menu-Chat:before {
  content: "\ea14";
}
.icon-side-menu-file-manager:before {
  content: "\ea15";
}
.icon-side-menu-knowledgebase:before {
  content: "\ea16";
}
.icon-side-menu-mobile-app:before {
  content: "\ea17";
}
.icon-side-menu-support_2:before {
  content: "\ea18";
}
.icon-side-menu-video_2:before {
  content: "\ea19";
}
.icon-top-header-icons-call:before {
  content: "\ea1a";
}
.icon-top-header-icons-dollar-symbol:before {
  content: "\ea1b";
}
.icon-top-header-icons-flag:before {
  content: "\ea1c";
}
.icon-top-header-icons-increase:before {
  content: "\ea1d";
}
.icon-top-header-icons-info:before {
  content: "\ea1e";
}
.icon-top-header-icons-log-in:before {
  content: "\ea1f";
}
.icon-top-header-icons-signup:before {
  content: "\ea20";
}
.icon-top-header-icons-translate:before {
  content: "\ea21";
}
.icon-top-header-logo-academy:before {
  content: "\ea22";
}
.icon-top-header-logo-camonea:before {
  content: "\ea23";
}
.icon-top-header-logo-kemedar:before {
  content: "\ea24";
}
.icon-top-header-logo-kemedar-reit:before {
  content: "\ea25";
}
.icon-top-header-logo-kemenews:before {
  content: "\ea26";
}
.icon-top-header-logo-KEMETRO:before {
  content: "\ea27";
}
.icon-top-header-logo-Kemetro-delivery:before {
  content: "\ea28";
}
.icon-top-header-logo-Kemetro-seller:before {
  content: "\ea29";
}
.icon-top-header-logo-kemmeta:before {
  content: "\ea2a";
}
.icon-top-header-logo-KEMODOO:before {
  content: "\ea2b";
}
.icon-top-header-logo-Xeed:before {
  content: "\ea2c";
}
.icon-ttop-header-logo-kemework:before {
  content: "\ea2d";
}
.icon-user-benefit-academy-student:before {
  content: "\ea2e";
}
.icon-user-benefit--affiliate:before {
  content: "\ea2f";
}
.icon-user-benefit-for-Finishing-company:before {
  content: "\ea30";
}
.icon-user-benefit-instructor:before {
  content: "\ea31";
}
.icon-user-benefit-investor:before {
  content: "\ea32";
}
.icon-user-benefit-Job-seeker:before {
  content: "\ea33";
}
.icon-user-benefit-kemmeta-memeber:before {
  content: "\ea34";
}
.icon-user-benefit-Product-buyers:before {
  content: "\ea35";
}
.icon-user-benefit-product-seller:before {
  content: "\ea36";
}
.icon-user-benefit-professional-and-technican:before {
  content: "\ea37";
}
.icon-user-benefit-Property-Buyer:before {
  content: "\ea38";
}
.icon-user-benefit-property-owner:before {
  content: "\ea39";
}
.icon-user-benefit-Real-estate-agent:before {
  content: "\ea3a";
}
.icon-user-benefit-Real-estate-developers:before {
  content: "\ea3b";
}
.icon-user-benefit-Store-collaborator:before {
  content: "\ea3c";
}
.icon-user-benefit-team:before {
  content: "\ea3d";
}
